@charset "UTF-8";


/*HEADER*/

#logo a img{
	  height: 70px;
	  width:380px; 
}


#search-bar{
	
	position:absolute;
	left: 50%;
    top: 50px;
    transform: translateX(-50%);
   
}

#search-bar input{
	
	border-radius:15px;
	width:350px;
	height:30px;
	border-style:solid;
	border-color:#0D0D0D;
	
}

 #search-bar button{
  
  border-radius: 15px;
  border-color:#0D0D0D;
  padding: 8px 15px;
  border-style:solid;
   
 }

#actions{
	
	position:absolute;
	right: 20px;
    top: 50px;
	
}

#actions span{
	
	color:#0D0D0D;
	
}


#actions ul li a:hover{ 
    color: #0D0D0D;                
    border-color: #0D0D0D;
}

#actions ul li a{
	text-decoration:none;
	font-weight:bold;
	color:#B1BF41;
	font-family:arial,sans-serif;
	font-size:large;
}

#actions ul li{
	
	display:inline;
	padding-left:8px;
	
}



nav{
	
	padding: 20px;
	background-color:#F2F2F2;
}

nav ul li a{
	
	text-decoration:none;
	font-weight:bold;
	color:#B1BF41;
	font-size: large;
	font-family:arial,sans-serif;
	
}

nav ul li{
	display:inline;
	padding: 6px 14px 6px 14px;
	margin:25px;
	
}

a:hover{
	
	color:#0D0D0D;
}

/*INDEX*/

h2{
	
	font-family:arial,sans-serif;
	font-weight:lighter;	
}


.hero-banner{
	
	
    width: 100%;       
    height: 600px;     
    overflow: hidden;  
	
}

.hero-banner img {
    width: 100%;       
    height: 100%;        
}
	


.prodotti {
    width: 100%;
    max-width: 1200px; 
    margin: 30px auto; 
    text-align: center; 
    font-family:arial,sans-serif;
}

.product-card a{
	
	text-decoration:none;
	border:solid;
	border-color:#0D0D0D;
	background-color:#0D0D0D;
	font-size: small;
	color:#f2f2f2;
	padding:6px;
	
}

.product-card a:hover{
	
	background-color:#b1bf41;
}

.product-card {
    display: inline-block; 
    vertical-align: top;   
    
    width: 30%;         
    margin: 15px 1.5%;    
    
    background-color: #f2f2f2;
    border: 1px solid #e9f2c9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px #d0d98b;
    box-sizing: border-box; 
}
 
 
 /*FOOTER*/
 #footer{
 
  margin:50px auto;
  font-family:arial,sans-serif;
  text-align:center;
  
 }
 
 /*CARRELLO*/
 
 #titolo{
   color:#b1bf41;
 }
 
 .vuoto p{
 
     font-family:arial,sans-serif;
 }
 
 .vuoto a{
    
    text-decoration:none;
    color:#B1BF41;
    
 }
 
 .tabella-prod{
 
    font-family:arial,sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    text-align:left;
 }


 
 .tabella-prod td {
  padding: 15px 12px;
  border-top: 1px solid #e9f2c9;
  border-bottom: 1px solid #e9f2c9;
  vertical-align: middle;
}
 
 
 .tabella-prod td a{
   
   text-decoration:none;
   color:#0D0D0D;
   font-size:x-large;
   padding-left:5px;
   
 }
 
 /*CHECKOUT*/
 #repilogo{
 
  font-family:arial,sans-serif;
  text-align:center;
  border-radius:4px;
  border: 1px solid #e9f2c9;
  padding:20px;
 
 }
 
 #numero,#totale{
 
 margin:10px;
 
 }
 
 #bottone a{
  
  text-decoration:none;
	border:solid;
	border-color:#0D0D0D;
	background-color:#0D0D0D;
	color:#f2f2f2;
	padding:5px;
    margin:5px;
 }
 
 #checkCont{

   max-width:450px;
   height:370px;
   margin:50px auto; 
   padding:30px;
   border: 1px solid #e9f2c9;
   border-radius: 8px;
   font-family:arial,sans-serif;
 
 }
 
 #button-check button{
 
    width: 100%;
    padding: 12px;
    background-color: #b1bf41;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
 
 }
 
 
 /*FORMS*/
 
 
 
 #logCont{
   max-width:450px;
   height:310px;
   margin:50px auto; 
   padding:30px;
   border: 1px solid #e9f2c9;
   border-radius: 8px;
   font-family:arial,sans-serif;
 
 }
 
 
 #regCont{
   
   max-width:450px;
   height:370px;
   margin:50px auto; 
   padding:30px;
   border: 1px solid #e9f2c9;
   border-radius: 8px;
   font-family:arial,sans-serif;
 
 }
 #nome-field input{
	
	border-radius:4px;
	border: 1px solid #e9f2c9;
	width:350px;
	height:30px;
}

#nome-field,#cognome-field,#email-field,#pass-field,#tel-field,#ind-field,#pag-field{
	
	padding-bottom:10px;
	
}

#cognome-field input{
	
	border-radius:4px;
	border: 1px solid #e9f2c9;
	width:350px;
	height:30px;
	
}
#tel-field input{
	
	border-radius:4px;
	border: 1px solid #e9f2c9;
	width:350px;
	height:30px;
	
}
#ind-field input{
	
	border-radius:4px;
	border: 1px solid #e9f2c9;
	width:350px;
	height:30px;
	
}
 
#email-field input{
	
	border-radius:4px;
	border: 1px solid #e9f2c9;
	width:350px;
	height:30px;
}

#pass-field input{
	
	border-radius:4px;
	border: 1px solid #e9f2c9;
	width:350px;
	height:30px;
	
}

#pag-field input{
	
	border-radius:4px;
	border: 1px solid #e9f2c9;
	width:350px;
	height:30px;
}
#button-log button{
	
	width: 100%;
    padding: 12px;
    background-color: #b1bf41;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
	
	
}

#nonReg a{
	
	text-decoration:none;
    color:#B1BF41;
}

#errorLog{
	
	text-align:center;
	color:red;
	font-family:arial,sans-serif;
	
}
/*ADMIN*/

#admin-prod,#dettagli{
	
	margin-left:500px;
}

